*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.header-section{
    background-color: rgb(196, 250, 232);
    height: 100px;
}

.bottom-section{
    background-color: rgb(232, 238, 236);
    height: 80%;
    display: flex;
}

.menu-div{
    background-color: rgb(211, 218, 215);
    margin: 12px 15px 12px 15px;    
}


.left-side-div{
    display: flex;
    flex-direction: column;  
    width: 300px;
    background:  rgb(246, 248, 247);
}

.kanban{
    display: flex;
    /*justify-content: center;*/
    min-height: 400px;
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: aquamarine;
    min-width: 200px;
    border-radius: 5px;
}

.column-title{
    background-color: rgb(235, 179, 179);
    padding: 10px;
    border-radius: 5px;
}

.title{
    font-size: 30px;
    color: rgb(89, 97, 94);
    margin: 0px;
    text-align: center;
}

.item{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    height: 165px;
}

.dragging {
    opacity: 0.5;
}
