*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    height: 100vh;
    position: absolute;
}
h1{
    font-size: 40px;
}
.header-section{
    background-color: rgb(196, 250, 232);
    height: 15vh;
    text-align: center;
    padding: 10px;
}
.bottom-section{
    background-color: rgb(232, 238, 236);
    height: 90vh;
    display: flex;
}
.menu-div{
    background-color: rgb(211, 218, 215);
    margin: 12px 15px 12px 15px;
    height: 15vh;
    padding: 5px; 
}
.search{
    padding-right: 15px;
    background: url("./assets/search-icon.png") no-repeat left;
    background-size: 25px;
}
.titleAside{
    text-align: left;
    font-size: 20px;
}
.left-side-div{
    display: flex;
    flex-direction: column;  
    width: 400px;
    background:  rgb(246, 248, 247);
}
.kanban{
    display: flex;
    /*justify-content: center;*/
    height: 400px;
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: aquamarine;
    min-width: 200px;
    border-radius: 5px;
    height: 78vh;
}
.column-title{
    background-color: rgb(235, 179, 179);
    height: 70px;
    padding: 10px;
    border-radius: 5px;
}
.title{
    font-size: 30px;
    color: rgb(89, 97, 94);
    margin: 0px;
    text-align: center;
}
.item{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    height: 165px;
    text-align: center;
}
.dragging {
    opacity: 0.5;
}
